<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

#* Table of citations

$cite_table -- HTML for citation table

$dataset -- Name of data set

$mode -- 'input' or 'output'

$report_length  -- Number of citations in this page of the report

$cur_idx -- Index into $filelist of the current file name

$filelist -- List of names of all HTML files in the set
*#

#from mscanner.configuration import rc

<html lang="en">

<head>

  <title>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Result Citations for $dataset
    #end if
  </title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  #if $rc.link_headers
  ## Link to original JS and CSS instead of including them
  #set $linkpath = $rc.templates.relpath().replace('\\','/')
  <script type="text/javascript" src="$linkpath/hider.js"></script>
  <script type="text/javascript" src="$linkpath/fileutils.js"></script>
  <script type="text/javascript" src="$linkpath/citations.js"></script>
  <link rel="stylesheet" type="text/css" href="$linkpath/style.css">
  #else
  <script type="text/javascript">
    #include raw str($rc.templates/"hider.js")
    #include raw str($rc.templates/"fileutils.js")
    #include raw str($rc.templates/"citations.js")
  </script>
  <style type="text/css">
    #include raw str($rc.templates/"style.css")
  </style>
  #end if

</head>

<body>

<div id="header">
  <h1>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Output Citations for $dataset
    #end if
  </h1>
</div>

<div id="body">

<div class="narrow">

<p id="navigation">
Navigation: 

## Link to the previous file in the list
#if $cur_idx > 0
<a href="$filelist[$cur_idx-1]">Previous</a>&nbsp;
#end if

## Link to all preceding files
#for idx in range($cur_idx)
<a href="$filelist[$idx]">#echo $idx+1#</a>&nbsp;
#end for

## Link to this file
<b><a href="$filelist[$cur_idx]">#echo $cur_idx+1#</a></b>&nbsp;

## Link to all following files (NOTE: also used by the result-appender)
<span id="appendable_files">
#for idx in range($cur_idx+1, len($filelist))
<a href="$filelist[$idx]">#echo $idx+1#</a>&nbsp;
#end for
</span>

## Link to the next file in the list
#if len($filelist) > $cur_idx+1
<a href="$filelist[$cur_idx+1]">Next</a>
#end if
</p>

<p>
  This report contains <span id="report_length">$report_length</span> citations.
  #if $mode == "input"
  These are the input citations, used to train MScanner.
  #else if $mode == "output"
  These are result citations.
  #end if
</p>

<div class="control" id="script_warning">

  <p>Warning: page scripts have not run - all things clickable will not
  function until they do. If the page is taking a while to load, consider
  downloading the zip file of results instead. If your browser is saying that
  there is blocked content, click the alert and "Allow blocked content".</p>
  
</div>

<div class="control" id="save_warning_div">

  <button class="toggle" id="toggle_save_warning">Extra Features</button>

  <p id="save_warning">Extra features: it is possible to save/load manual
  classifications (assigned by clicking in the "C" column) to file. To use this
  feature, save a local copy of this file (e.g. using "Save As" or from the zip
  archive) and open it in Mozilla Firefox or Internet Explorer 7. To use
  another feature where later results pages can be appended to the table, open
  the file in Mozilla Firefox.</p>

</div>

<div class="control" id="filter_div">

  <form action="#" name="filter_form" id="filter_form">
  <table>
  <tr>
  <th>Title contains</th>
  <td><input type="text" size="30" name="title_regex" value=""></td>
  </tr>
  
  <tr>
  <th>Title/abstract contains</th>
  <td><input type="text" size="30" name="title_abstract_regex" value=""></td>
  </tr>
  
  <tr>
  <th>Title/abstract does not contain</th>
  <td><input type="text" size="30" name="exclude_regex" value=""></td>
  </tr>
  
  <tr>
  <th>Medline record date between</th>
  <td><input type="text" size="10" name="date_min" value="1900.01.01"> and
  <input type="text" size="10" name="date_max" value="2020.01.01"></td>
  </tr>
  
  <tr>
  <th>Abbreviated journal contains</th>
  <td><input type="text" size="20" name="journal_regex" value=""></td>
  </tr>

  <tr>
  <th>Author list contains</th>
  <td><input type="text" size="20" name="author_regex" value=""></td>
  </tr>
  
  <tr>
  <th>Score is at least</td>
  <td><input type="text" size="5" name="score_min" value="-100"></td>
  </tr>
  
  <tr>
  <th>Order by</th>
  <td>
  <select name="orderby">
    <option value="score" selected="selected">Score (decreasing)</option>
    <option value="date">Date (decreasing)</option>
    <option value="journal">Journal (increasing)</option>
    <option value="author">Author (increasing)</option>
  </select>
  </td>
  </tr>
  
  </table>
  </form>  

  <p>
    <button id="do_filter">Filter visible</button>&nbsp;
    <button id="clear_filter">Show all citations</button>&nbsp;
    <button id="invert_selection">Invert selection</button>&nbsp;
    <button class="toggle" id="toggle_h_filter">Help</button>
  </p>

  <div class="help" id="h_filter">
  
    <p><em>Filter visible</em> hides any currently visible rows that do not
    match the filter criteria. <em>Show all citations</em> unhides all hidden
    rows. <em>Invert selection</em> makes the visible rows hidden and the
    hidden rows visible.</p>
  
    <p>The <q>Medline record date</q> is not the date of publication: it is the
    date on which the completed Medline citation record became available,
    so that recently added citations can be filtered for.</p>
    
    <p>The title and abstract filters are case-insensitive <a
    href="http://www.javascriptkit.com/jsref/regexp.shtml">regular
    expressions</a>. They match substrings, but have many additional features.
    For example, "rat" matches both "rat" and "aberration", but "\brat\b" will
    only match "rat" ("\b" means "word boundary"). To search for both "rat" and
    "human", first filter for "rat", then filter for "human". </p>
   
  </div>

</div> 

<div class="control" id="pubmed_div">

  <p>
    <button id="open_pubmed_all">Open visible in PubMed</button>&nbsp;
    <button id="open_pubmed_relevant">Open relevant in Pubmed</button>&nbsp;
    <button class="toggle" id="toggle_h_open">Help</button>
  </p>
  
  <div class="help" id="h_open">

    <p>Opens PubMed in a new window, for the citations that are visible below.
    The second button instead opens those citations which have been marked
    relevant by clicking once in "C" column (colours changes to red <span
    style="background-color:red;color:red;">...</span>)).</p>
    
    <p>Clicking a second time explicitly marks the citation as irrelevant (<span
    style="background-color:blue;color:blue;">...</span>). Grey citations ( <span
    style="background-color:lightgrey;color:lightgrey;">...</span>) are not 
    manually classified".</p>
    
  </div>
  
</div>

<div class="control" id="save_load_div">

  <p>
    <button id="save_tags">Save Classifications</button>&nbsp;
    <button id="load_tags">Load Classifications</button>&nbsp;
    <button class="toggle" id="toggle_h_save_load">Help</button>
  </p>
  
  <div class="help" id="h_save_load">
    #set save_target = $filelist[$cur_idx].namebase+".csv"
    <p>
      These buttons will save or load classifications (the marks in the "C"
      column as to whether a citation is relevant or irrelevant) to a file
      called <a id="save_target" href="$save_target">$save_target</a>.
    </p>
  </div>

</div>

<div class="control" id="append_results_div">

  <p>
    <button id="append_results">Append next result file</button>&nbsp;
    Next up is: <a id="next_to_append" href=""></a>.&nbsp;
    <button class="toggle" id="toggle_h_append">Help</button>
  </p>
  
  <div class="help" id="h_append">
    <p>Append citations from later results files to the bottom of this one.</p>
  </div>
  
</div>

</div><!--class=narrow-->

<h2>Table of citations (<span id="vis_count">$report_length</span> visible)</h2>

$cite_table

</div><!--class=body-->

<div id="footer">
  MScanner &copy; 2007 Graham Poulter
</div>

</body>

</html>