#* Prints a paragraph about PubMed IDs not found in the MScanner database

$notfound_pmids -- list of PubMed IDs to print

*#

#if $getVar("notfound_pmids", []) != []:

<h2>Invalid PubMed IDs</h2>

<p>Some of the PubMed IDs submitted to MScanner were not found:</p>

<ul>

<li>Citations that are <q>PubMed - in-process</q> or <q>PubMed - as supplied by
publisher</q> lack MeSH terms and thus cannot be used by MScanner. Citations that
change to <q>PubMed - Indexed for Medline</q> are added to MScanner overnight.</li>

<li>Some sources still contain a few obsolete Medline UIs. See the <a
href="http://www.ncbi.nlm.nih.gov/entrez/publisher/uidpmid.cgi"> Medline
UI/PubMed ID matcher</a> to convert Medline UIs to PubMed IDs</li>

<li>For completely invalid IDs, clicking the link below leads to a blank page
instead of a citation.</li>

</ul>

<ul>
#for pmid in $notfound_pmids:
<li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;list_uids=$pmid">$pmid</a></li>
#end for
</ul>

#end if notfound_pmids