#extends page

#def title
Contact the Author
#end def title

#def contents
<div class="narrow">

#if $getVar("success", None) is not None
    <p>
    #if $success
        Your message was sent successfully:
    #else
        Failed to send the email! Please contact 
        <a href="mailto:mscanner.w3f@gishpuppy.com">Graham poulter</a>.
        Error: <pre>$error</pre>
    #end if
    </p>
#end if

<form action="contact" method="post">
$inputs.render()
<p><input type="submit" value="Send Message"></p>
</form>

</div><!--class=narrow-->
#end def contents
