#extends page

#* PARAMETERS

$queue -- QueueStatus object where we get the list of done tasks
$errors -- Optional validation errors in the form
$target -- Optional target of delete/download op
$delete_errror -- Optional reason for being unable to delete $target
$download_errror -- Optional reason for being unable to download $target

*#

#def title
MScanner Output
#end def

#def contents

#import time

## Print errors if any
$getVar("errors", "")

<div class="narrow">

#if $getVar("target", None) is not None

  #if $getVar("delete_error", None) is not None
    <p>Cannot delete <q>$target</q>: $delete_error</p>
  #else
    <p>Task <q>$target</q> has been deleted.</p>
  #end if

  #if $getVar("download_error", None) is not None
    <p>Cannot download <q>$target</q>: $download_error
  #end if
  
#end if

<p>Outputs for $len($queue.donelist) tasks follow. Queries for which the "hide" box
was ticked are not listed.</p>

</div><!--class=narrow-->

<form id="output" action="" method="post">

  <table>
  <thead>
    <tr>
      <th>Selection</th>
      <th>Timestamp</th>
      <th>Operation</th>
      <th>Link to Output</th>
    </tr>
  </thead>
  <tbody>
    #for d in $queue.donelist
    <tr>
      <td class="del">
        <input type="radio" name="dataset" value="$d.dataset">
      </td>
      <td class="timestamp">
        $time.strftime("%Y/%m/%d %H:%M:%S GMT", $time.gmtime($d.submitted))
      </td>
      <td class="operation">
        $d.operation
      </td>
      <td class="dataset">
        <a href="/static/output/$d.dataset/">$d.dataset</a>
      </td>
    </tr>
    #end for
  </tbody>
  </table>
  
  <div class="narrow">
    <p>
      Download selected as a zip file (0.5-2 megabytes, 
      <input type="checkbox" name="omit_mesh" checked="checked"> omit term list to save 300k):
      <button type="submit" name="operation" value="download">download</button>
    </p>
    <p>
      Delete selected using deletion code: 
      <input name="delcode" type="text" size="10">
      <button type="submit" name="operation" value="delete">delete</button>
    </p>
  </div>

</form>

#end def contents
