#block doctype
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
#end block doctype

## Base URL for the website, for "absolute" links
#attr base = ""

#def title
Sample Title
#end def

#block html
<html>

#block head
<head>

#block wintitle
<title>$title</title>
#end block

#block stdheaders
<link rel="stylesheet" type="text/css" href="$base/static/mscanner.css">
<link rel="shortcut icon" href="$base/favicon.png" type="image/x-icon">
#end block stdheaders

#block extraheaders
#end block extraheaders

</head>
#end block head

#def statusblock(task, queue)
## Print a table for task status
## task -- Storage object representing the task
## queue -- QueueStatus object
<table class="status">
  <thead>
  <tr>
  <th colspan="2">
    Task <q>$task.dataset</q> ($task.operation)
  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Task status</th>
    <td>
      #echo $queue.status[$task.dataset]
    </td>
  </tr>
  <tr>
    <th>Destination</th>
    <td>
    <a href="/static/output/${task.dataset}/">$task.dataset</a>
    </td>
  </tr>
  <tr>
    <th>Submitted at</th>
    <td>
    #import time
    ${time.strftime("%Y/%m/%d %H:%M:%S GMT", $time.gmtime($task.submitted))}
    </td>
  </tr>
  #if $queue.status[$task.dataset] == $queue.RUNNING
  <tr>
    <th>Time spent running</th>
    <td>
    ## Mod time is updated in queue.py when starting the task
    #echo "%d seconds" % int($time.time() - $task._filename.mtime)
    </td>
  </tr>
  <tr>
    <th>Tasks remaining</th>
    <td>
    #echo len($queue.tasklist) - 1
    </td>
  </tr>  
  #elif $queue.status[$task.dataset] == $queue.WAITING
  <tr>
    <th>Tasks to go</th>
    <td>
    #echo $queue.position($task.dataset)
    </td>
  </tr>
  #end if
  </tbody>
</table>
#end def

#block body
<body>

#block header
<div id="header">
  #block header_text
  <h1>$title</h1>
  #end block header_text
</div>
#end block header

#block topmenu
<div id="topmenu">
  <table>
    <tr>
      <td>
        <a href="/">Home</a>
      </td>
      <td>
        <a href="/query">Query</a>
      </td>
      <td>
        <a href="/status">Status</a>
      </td>
      <td>
        <a href="/output">Output</a>
      </td>
      <td>
        <a href="/contact">Contact Us</a>
      </td>
    </tr>
  </table>
</div>
#end block topmenu

#block contents_outer
<div id="contents">
#block contents
CONTENTS
#end block contents
</div>
#end block contents_outer

#block footer
<div id="footer">
  #block footer_text
  &copy; 2007 Graham Poulter
  #end block footer_text
</div>
#end block footer

</body>
#end block body

</html>
#end block html