#extends page

#* PARAMETERS
$inputs -- Form containing web browser input
*#

#def title
Submit Query or Validation #slurp
#end def title

#def extraheaders
  ## Uncompressed javascript for debugging (77k)
  ##<script type="text/javascript" src="$base/static/mootools.js"></script>
  ## Compressed javascript for production (13k)
  <script type="text/javascript" src="$base/static/mootools.zip.js"></script>
  
  ## Inline Javascript
  <script type="text/javascript">
    /* 
    When a button of class "toggle" and id toggle_x is clicked,
    it will slide-toggle the target with id x. Targets are initially hidden.
    */
    function create_sliders() {
      /* handler for button with id like toggle_x */
      function toggle_handler() {
        \$(this.id.substr(7)).slider.toggle(); // "toggle_x" -> "x"
      }
      /* for each toggle button, we link and hide its target */
      var buttons = document.getElementsByTagName("button");
      for(var i = 0; i < buttons.length; i++) {
        button = buttons[i];
        if(button.className == 'toggle') {
          id = button.id.substr(7);
          target = \$(id)
          if(target) {
            target.slider = new Fx.Slide(id, {"duration": 500});
            target.slider.hide();
            button.onclick = toggle_handler;
          }
        }
      }
    }
    window.onload = function() {
      \$('fill_example').onclick = function () {
         \$('dataset').value = "example-radiology-query"
         \$('positives').value = "10390570\n10555669\n10587123\n10658726\n10702822\n10747308\n11092485\n11812973\n12216754\n12438060\n12708922\n12828616\n12945936\n14510633\n14628859\n14700161\n14752189\n14914750\n15256634\n15310152\n15351243\n15405683\n15480032\n15520901\n15717221\n15718419\n1592926\n16009818\n16019460\n16154823\n16189163\n16272860\n16299797\n16344746\n16415460\n16488085\n1727362\n1899742\n1928554\n1950868\n1984330\n2406785\n2731700\n2806818\n3275982\n3279735\n3416282\n3840980\n3871147\n4040300\n5327041\n5368340\n6497634\n6783686\n6856834\n7034554\n7480744\n8190956\n8208972\n8316667\n8372948\n8615251\n8911169\n8988207\n8988208\n9754100\n9922200\n9922201\n"
      }
      create_sliders();
    }
  </script>
#end def extraheaders

#def form_row(name)
#set elem = $inputs[name]
<tr class="input">
  <th>$elem.renderlabel()</th>
  <td class="value">
    $elem.pre $elem.render() $elem.post
    #if $name == "delcode"
    $inputs["hidden"].render() $inputs["hidden"].renderlabel()
    #end if
  </td>
  <td class="help">
    <button type="button" class="toggle" id="toggle_h_$name">help</button>
  </td>
</tr>
#if $elem.note is not None
<tr class="error">
  <td colspan="3">
    $elem.note
  </td>
</tr>
#end if
<tr class="help">
  <td colspan="3">
    <div id="h_$name">
      ${getattr(self, "help_" + $name)()}
    </div>
  </td>
</tr>
#end def

#def help_positives# A list of PubMed IDs, one per line, to serve
as relevant training examples (the rest of Medline is used to approximate
term frequencies in irrelevant articles).
#end def

#def help_dataset# The name of the task, to make it easier to locate on the
results page (restriced to letters, numbers and .,;:- punctuation)#end def

#def help_delcode# A short code that will be
required if in order to delete the output (defaults to an empty code). 
You may select "hide output" to prevent the results from being listed 
on the <a href="output">output</a> page, in which case you need to 
bookmark the location of the results to find them later.
#end def

#def help_limit# Upper limit on the number of citations to return (may be
set between 100 and 10000). 
#end def

#def help_mindate# Filter Medline to contain only records completed after this
date (useful for monitoring for new literature).  Using this option
slows down retrieval by 30 seconds. Records are typically completed 
1-3 months after publication date.
#end def

#def help_prevalence# Advanced option: specify the fraction of Medline that is
relevant (prevalence). By default we estimate this using on input size. 
Greater values yield more results by raising the prior probability of relevance. 
#end def

#def help_minscore# Advanced option: Only returns articles whose 
score (logarithm of the probability ratio for relevance vs irrelevance)
is greater than this.  Default of 0 means to predict relevance when
it is more probable than irrelevance.
#end def


#def help_numnegs# In cross validation we select this many random Medline 
records to serve as irrelevant training examples.
#end def


#def contents
<div class="narrow">

<form id="query" action="" method="post">
  
  <fieldset>
    <legend>Standard Options</legend>
    ## Auto captcha for this form, see if spambots are invalid anyway
    $inputs["captcha"]render()
    <table>
      $form_row("positives")
      $form_row("dataset")
      $form_row("delcode")
    </table>
  </fieldset>

  <fieldset>
    <legend>
      $inputs["operation"].render("retrieval")
    </legend>
    <table>
      $form_row("limit")
      $form_row("mindate")
      $form_row("prevalence")
      $form_row("minscore")
    </table>
  </fieldset>

  <fieldset>
    <legend>
      $inputs["operation"].render("validate")
    </legend>
    <table>
      $form_row("numnegs")
    </table>
  </fieldset> 

  <p>
    <input type="submit">
    <button type="button" id="fill_example">Example</button>
  </p>

</form>

</div>
#end def contents